@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

body {
  margin: 0 auto;
	min-height: 100vh;
	background-color: #E1E8EE;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
